<br>
<div class="container-fluid" style="padding: 0; max-width: 100%; overflow-x: hidden;"> 
    <img src="pic1.png" alt="logo" class="logo" style="width: 100%; height: auto; margin-bottom: 30px;" />

    <div class="row" style="justify-content: center; padding: 0 15px;">
        <div class="col-12" style="text-align: center;">
            <p class="text-justify animated fadeInUp">We are a ceramics studio, an Israeli import company for design. It
                sounds amazing… but in reality, we are creators of beauty, dream fulfillers, providers of desires…
                because that is the essence. Design that communicates between people and materials. Between color and
                texture. Between desires and aspirations for realization.<br />Tell us how you want to feel in your home
                or office and we will ensure to bring in our unique design touch.</p>
        </div>
        <div class="col-12" style="text-align: center;">
            <p class="text-justify animated fadeInUp">This is a personal invitation for all dreamers of a home that is
                beautiful, exciting, carefully designed, and that makes every material turn into magic in the hands of
                the creator and designer.</p>
            <p class="text-justify animated fadeInUp">In our showrooms across the country, you can meet our designers,
                sit with them over a cup of coffee – learn about the trends that have conquered the world, touch
                materials, fall in love with shapes, be impressed by projects we have done for leading construction
                companies and people like you, and together start realizing the design vision of your home.</p>
        </div>

        <div class="col-sm-8 col-md-7">
            <div class="sec-description text-justify animated fadeInUp border p-3" style="text-align: center;">
                <p>This has been our expertise for over 35 years and we are very proud of it. We combine trends for you,
                    importing contemporary and innovative designs from around the world. We invent and create materials
                    with the most advanced technologies that make a WOW to the eye and the heart.</p>
                <p>In addition to design, service, and trendy style, the heart of the network also beats in immediate
                    supply and accurate inventory assessment. None of this would have happened without the crazy
                    logistics center in Mishor Adumim, which spans 40 dunams. Need tiles right now? Immediate kitchen
                    cladding? You got it!</p>
            </div>
        </div>
        <div class="col-sm-4 col-md-5">
            <img src="about.png" class="animated fadeInUp" alt="About Us" style="width: 100%; height: auto;" />
        </div>
        <div class="col-12" style="text-align: center;">
            <blockquote class="blockquote animated fadeInUp">
           
                <p class="mb-0">"Design is a tool that allows us to reach out and inspire, to touch others and help make
                    lives magic and wonderful"</p>
                <footer class="blockquote-footer">Marcel Wanders</footer>
            </blockquote>
        </div>
        <div class="col-12">
            <div class="my-4" style="background-color: #d8c8b0; height: 5px;"></div>
        </div>
        <p class="elementor-heading-title elementor-size-default" havetext="true"
        andiallelmwithtext="63" tuafontsizes="63" color="rgb(255, 255, 255)">Customers say
    </p>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-5a128426 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="5a128426" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-79e6e74b"
                    data-id="79e6e74b" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-74c11565 elementor-widget__width-initial elementor-widget elementor-widget-heading"
                            data-id="74c11565" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container" style="text-align: center;">
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-2eb8c199"
                    data-id="2eb8c199" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-4cc350ad elementor-widget elementor-widget-heading"
                            data-id="4cc350ad" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container" style="text-align: center;">
                                <p class="elementor-heading-title elementor-size-default" havetext="true"
                                    andiallelmwithtext="83" tuafontsizes="83" color="rgb(196, 194, 190)" bold="true">”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3bbe9151"
                    data-id="3bbe9151" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-1ad2e80c elementor-widget elementor-widget-text-editor"
                            data-id="1ad2e80c" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container" havetext="true" andiallelmwithtext="18"
                                tuafontsizes="18" color="rgb(255, 255, 255)" style="text-align: center;">
                                When we started planning our house, everything was important to us – the planning, the materials, the practicality... it is the project of our lives.
                                At the studio, we found a listening ear, a comfortable meeting room where we met with the architect, and also an experienced consultant who chose budget-friendly materials and excellent products at a fair price.
                                Highly recommended, regards to Shabi and Nava from the Ra'anana branch.
                                <br role="presentation"><br role="presentation">
                                Avi and Nurit Fargon<br role="presentation">
                                Kadima
                            </div>
                        </div>
                    </div>
                  
                </div>
              
                <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-42a0670a"
                    data-id="42a0670a" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-47b6dc8e elementor-widget__width-initial elementor-widget elementor-widget-heading"
                            data-id="47b6dc8e" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container" style="text-align: center;">
                                <p class="elementor-heading-title elementor-size-default" havetext="true"
                                    andiallelmwithtext="83" tuafontsizes="83" color="rgb(196, 194, 190)" bold="true">“
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="col-sm-6 fb-copyright-note" style="text-align: center;">
            <p>© 2020 All rights reserved to Studio Ceramica.</p>
        </div>
    </div>
</div>
